h1{
    color: brown;
}
h2{
    color: chocolate;
}
p{
    color: black;
    font-style: oblique;
}
head{
    color: darkcyan;
    font-size: larger;
    font-style: oblique;
}
body{
    background-color: crimson;
}